// default colors
$white: #fff;
$black: #000;

// colors pallete from https://hookagency.com/color-schemes/ orange drip

$darkgreen: #051821;
$green: #1a4645;
$lightgreen: #266867;
$orange: #f58800;
$yellow: #f8bc24;

$transition-fast: .15s ease;
$transition-normal: .35s ease;


// breakpoints
$tabletWidth: 1024px;
$mobileWidth: 640px;